<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管理者登録</title>
</head>
<body>
	<h1>管理者登録フォーム</h1>
	<form th:action="@{/Admin/AddAdminRegister}" th:object="${user}" method="post">
		<label for="email">メールアドレス:</label> <input type="email"
			th:field="*{email}" required /> <br /> <label for="password">パスワード:</label>
		<input type="password" th:field="*{password}" required /> <br />
		<button type="submit">登録</button>
		<div>
			<p>
				すでにアカウントをお持ちの方は <a th:href="@{/login_admin}">こちら</a> からログインしてください。
			</p>
		</div>
	</form>
</body>
</html>
